header {
  background: black;
  color: black;
  
  
}

section {

  background: dodgerblue;
  color: dodgerblue;
  

}

body {
  margin: 0;
  padding: none;
  background:white;
  font-family: arial;
}
 
 h2, h3 {
  font-size: 15px;
  color: black;
  
}




p3{
  color: white;
  padding 20px;
}

p333{
  color: green;
}


nav ul li  {
  background: #2196F3;
  color: white;
  list-style-type: none;
  text-align: center;
  display: inline-block;
  padding: 10px 30px;
  margin: none;
  
}

nav ul li a{
  color: white;
}

nav li a:hover {
  color: #c1c1c1;
}

.banner{
  width 100%;
  display: block;
}

.banner > .banner-image{
  
  width: 100%;
  display: block;
}

.navright{
 float: right;
  margin-left: 20px;
}

figcaption {
  color: black;
}